In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Recommender System').getOrCreate()

### Reading the Dataset

In [6]:
df = spark.read.csv('./static/movie_ratings_df.csv', inferSchema=True, header=True)
df.show(10, True) # Pulls the fist ten rows of the dataset

+------+------------+------+
|userId|       title|rating|
+------+------------+------+
|   196|Kolya (1996)|     3|
|    63|Kolya (1996)|     3|
|   226|Kolya (1996)|     5|
|   154|Kolya (1996)|     3|
|   306|Kolya (1996)|     5|
|   296|Kolya (1996)|     4|
|    34|Kolya (1996)|     5|
|   271|Kolya (1996)|     4|
|   201|Kolya (1996)|     4|
|   209|Kolya (1996)|     4|
+------+------------+------+
only showing top 10 rows

### Data size in terms of rows and records

In [3]:
print((df.count(), len(df.columns)))

(100000, 3)

Our Dataset contains 100,000 records with only three columns

Data Schema

In [4]:
df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)

#### Two of the columns are Numerical while title column is categorical

#### Top users by number of moviers rated

In [10]:
df.groupBy('userId').count().orderBy('count', ascending=False).show(10, False)

+------+-----+
|userId|count|
+------+-----+
|405   |737  |
|655   |685  |
|13    |636  |
|450   |540  |
|276   |518  |
|416   |493  |
|537   |490  |
|303   |484  |
|234   |480  |
|393   |448  |
+------+-----+
only showing top 10 rows

#### Bottom users by number of moviers rated

In [11]:
df.groupBy('userId').count().orderBy('count', ascending=True).show(10, False)

+------+-----+
|userId|count|
+------+-----+
|732   |20   |
|631   |20   |
|572   |20   |
|685   |20   |
|93    |20   |
|636   |20   |
|34    |20   |
|596   |20   |
|926   |20   |
|300   |20   |
+------+-----+
only showing top 10 rows

## Feature Engineering

In [12]:
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer, IndexToString

#### So now we create the stringindexer object by mentioning the input column and output column.

In [17]:
stringIndexer = StringIndexer(inputCol='title',outputCol='New_Title')
model = stringIndexer.fit(df)
indexed = model.transform(df)
indexed.show(10, False)

+------+------------+------+---------+
|userId|title       |rating|New_Title|
+------+------------+------+---------+
|196   |Kolya (1996)|3     |287.0    |
|63    |Kolya (1996)|3     |287.0    |
|226   |Kolya (1996)|5     |287.0    |
|154   |Kolya (1996)|3     |287.0    |
|306   |Kolya (1996)|5     |287.0    |
|296   |Kolya (1996)|4     |287.0    |
|34    |Kolya (1996)|5     |287.0    |
|271   |Kolya (1996)|4     |287.0    |
|201   |Kolya (1996)|4     |287.0    |
|209   |Kolya (1996)|4     |287.0    |
+------+------------+------+---------+
only showing top 10 rows

In [22]:
print (df.groupBy('title').count().orderBy('count',ascending=False).show(10,False), indexed.groupBy('New_Title').count().orderBy('count',ascending=False).show(10,False))

+-----------------------------+-----+
|title                        |count|
+-----------------------------+-----+
|Star Wars (1977)             |583  |
|Contact (1997)               |509  |
|Fargo (1996)                 |508  |
|Return of the Jedi (1983)    |507  |
|Liar Liar (1997)             |485  |
|English Patient, The (1996)  |481  |
|Scream (1996)                |478  |
|Toy Story (1995)             |452  |
|Air Force One (1997)         |431  |
|Independence Day (ID4) (1996)|429  |
+-----------------------------+-----+
only showing top 10 rows

+---------+-----+
|New_Title|count|
+---------+-----+
|0.0      |583  |
|1.0      |509  |
|2.0      |508  |
|3.0      |507  |
|4.0      |485  |
|5.0      |481  |
|6.0      |478  |
|7.0      |452  |
|8.0      |431  |
|9.0      |429  |
+---------+-----+
only showing top 10 rows

None None

## Pliting The Data Set
We split it into a 80 to 20 ratio to train the model and test its accuracy

In [38]:
train,test=indexed.randomSplit([0.8,0.2])
print("Training set", train.count())
print("Testing set", test.count())

Training set 80190
Testing set 19810

##  Building and Training the Model

In [36]:
from pyspark.ml.recommendation import ALS
rec=ALS(maxIter=10,regParam=0.01,userCol='userId',itemCol='New_Title',ratingCol='rating',nonnegative=True)
rec_model = rec.fit(train)

### Performance evaluation on our test data
Here we will chack the performance of our model on unseen data.

In [40]:
predict_ratings = rec_model.transform(test)
predict_ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- New_Title: double (nullable = true)
 |-- prediction: float (nullable = true)

In [41]:
predict_ratings.show(10)

+------+--------------------+------+---------+----------+
|userId|               title|rating|New_Title|prediction|
+------+--------------------+------+---------+----------+
|   458|That Thing You Do...|     3|    148.0| 2.7512252|
|    53|That Thing You Do...|     3|    148.0| 3.4581232|
|   193|That Thing You Do...|     4|    148.0| 4.0641327|
|   223|That Thing You Do...|     4|    148.0| 3.1970763|
|    93|That Thing You Do...|     4|    148.0| 4.9698334|
|   152|That Thing You Do...|     3|    148.0| 4.1981716|
|   896|That Thing You Do...|     3|    148.0| 2.7994106|
|   280|That Thing You Do...|     3|    148.0| 4.1902285|
|   692|That Thing You Do...|     3|    148.0| 3.2819183|
|   432|That Thing You Do...|     4|    148.0| 3.2117474|
+------+--------------------+------+---------+----------+
only showing top 10 rows

In [46]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator(metricName = 'rmse', predictionCol = 'prediction', labelCol = 'rating')
rmse = evaluator.evaluate(predict_ratings)
print(rmse)

nan

##### The rmse is non we can equate this to zero meaning there is no error.

### Recommend Top Movies That Active User Might Like
The first step is to create a list of unique movies in the dataframe.

In [48]:
unique_movies=indexed.select('New_Title').distinct()
unique_movies.count() ## Total numbe rof individual movies in our new dataframe

1664

In [55]:
a = unique_movies.alias('a')

#### We can select any user within the dataset for which we need to recommend other movies. In our case, we go ahead with userId = 96.

#### We will filter the movies that this active user has already rated or seen.

In [59]:
user_id=96
watched_movies=indexed.filter(indexed['userId'] == user_id).select('New_Title').distinct()
watched_movies.count() # Number of movies the user has watched

56

In [60]:
b=watched_movies.alias('b')

#### So, there are total of 56 unique movies out of 1,664 movies that this active user has already rated. So, we would want to recommend movies from the remaining 1608 movies.

In [64]:
total_movies = a.join(b, a.New_Title == b.New_Title,how='left')
total_movies.show()

+---------+---------+
|New_Title|New_Title|
+---------+---------+
|    558.0|     null|
|    305.0|     null|
|    299.0|     null|
|    596.0|     null|
|    769.0|     null|
|    934.0|     null|
|    496.0|     null|
|   1051.0|     null|
|    692.0|     null|
|    810.0|     null|
|    720.0|     null|
|    782.0|     null|
|    184.0|     null|
|    147.0|     null|
|    576.0|     null|
|    170.0|     null|
|   1369.0|     null|
|   1587.0|     null|
|    169.0|     null|
|    608.0|     null|
+---------+---------+
only showing top 20 rows

In [67]:
remaining_movies=total_movies.where(col("b.New_Title").isNull()).select(a.New_Title).distinct()
remaining_movies.count()

1608

In [71]:
remaining_movies=remaining_movies.withColumn("userId",lit(int(user_id)))
remaining_movies.show(10, False)

+---------+------+
|New_Title|userId|
+---------+------+
|558.0    |96    |
|305.0    |96    |
|299.0    |96    |
|596.0    |96    |
|769.0    |96    |
|934.0    |96    |
|496.0    |96    |
|1051.0   |96    |
|692.0    |96    |
|810.0    |96    |
+---------+------+
only showing top 10 rows

### Finally, we can now make the predictions on this remaining movie’s dataset for the active user using the recommender model that we built earlier. We filter only a few top recommendations that have the highest predicted ratings.

In [73]:
recommendations = rec_model.transform(remaining_movies).orderBy('prediction', ascending = False)
recommendations.show(100, False)

+---------+------+----------+
|New_Title|userId|prediction|
+---------+------+----------+
|1652.0   |96    |NaN       |
|1540.0   |96    |NaN       |
|1597.0   |96    |NaN       |
|1547.0   |96    |NaN       |
|1632.0   |96    |NaN       |
|1556.0   |96    |NaN       |
|1646.0   |96    |NaN       |
|1623.0   |96    |NaN       |
|1601.0   |96    |NaN       |
|1658.0   |96    |NaN       |
|1522.0   |96    |NaN       |
|1577.0   |96    |NaN       |
|1570.0   |96    |NaN       |
|1586.0   |96    |NaN       |
|1616.0   |96    |NaN       |
|1606.0   |96    |NaN       |
|1534.0   |96    |NaN       |
|1611.0   |96    |NaN       |
|1536.0   |96    |NaN       |
|1618.0   |96    |NaN       |
|1346.0   |96    |9.69666   |
|1188.0   |96    |8.464907  |
|1301.0   |96    |8.186031  |
|826.0    |96    |7.5327663 |
|804.0    |96    |7.235327  |
|1343.0   |96    |7.1318555 |
|837.0    |96    |7.0773735 |
|986.0    |96    |7.0262904 |
|869.0    |96    |6.985313  |
|1154.0   |96    |6.9561777 |
|680.0    |96    |6.833312  |
|696.0    |96    |6.8063664 |
|504.0    |96    |6.79223   |
|1088.0   |96    |6.723361  |
|1271.0   |96    |6.685209  |
|1521.0   |96    |6.6642365 |
|1250.0   |96    |6.628944  |
|1225.0   |96    |6.6174607 |
|1204.0   |96    |6.5894537 |
|1417.0   |96    |6.5758963 |
|172.0    |96    |6.507082  |
|888.0    |96    |6.4924355 |
|1316.0   |96    |6.397137  |
|1397.0   |96    |6.38214   |
|1499.0   |96    |6.358963  |
|552.0    |96    |6.3475866 |
|898.0    |96    |6.3454957 |
|1071.0   |96    |6.331934  |
|963.0    |96    |6.316641  |
|1123.0   |96    |6.3122506 |
|1358.0   |96    |6.2922974 |
|870.0    |96    |6.234918  |
|539.0    |96    |6.2321725 |
|848.0    |96    |6.143847  |
|960.0    |96    |6.1156764 |
|1018.0   |96    |6.111468  |
|1151.0   |96    |6.0948563 |
|1433.0   |96    |6.0510097 |
|1434.0   |96    |6.050393  |
|164.0    |96    |6.049418  |
|400.0    |96    |6.0449743 |
|756.0    |96    |6.011264  |
|1023.0   |96    |5.9597282 |
|1470.0   |96    |5.9464436 |
|1296.0   |96    |5.942107  |
|604.0    |96    |5.94125   |
|482.0    |96    |5.9256296 |
|1282.0   |96    |5.914728  |
|1127.0   |96    |5.9118295 |
|1099.0   |96    |5.897098  |
|927.0    |96    |5.877729  |
|1475.0   |96    |5.862785  |
|1199.0   |96    |5.8602505 |
|777.0    |96    |5.8533754 |
|1092.0   |96    |5.8391953 |
|1194.0   |96    |5.828532  |
|981.0    |96    |5.817236  |
|1468.0   |96    |5.795143  |
|291.0    |96    |5.794125  |
|1161.0   |96    |5.7930994 |
|1598.0   |96    |5.7623434 |
|1642.0   |96    |5.7623434 |
|1501.0   |96    |5.7623434 |
|1210.0   |96    |5.7556586 |
|1138.0   |96    |5.7418313 |
|1239.0   |96    |5.736245  |
|115.0    |96    |5.722391  |
|811.0    |96    |5.7099166 |
|446.0    |96    |5.682933  |
|1284.0   |96    |5.6734853 |
|562.0    |96    |5.672632  |
|1098.0   |96    |5.655449  |
|1059.0   |96    |5.6547627 |
|490.0    |96    |5.6467247 |
|1233.0   |96    |5.638416  |
|1109.0   |96    |5.636623  |
|1265.0   |96    |5.6212435 |
|797.0    |96    |5.613907  |
|1410.0   |96    |5.606052  |
|462.0    |96    |5.6005483 |
+---------+------+----------+
only showing top 100 rows

### Let us add the movie title to the recommendations

In [75]:
movie_title = IndexToString(inputCol="New_Title",outputCol="title",labels=model.labels)
final_recommendations=movie_title.transform(recommendations)
final_recommendations.show(100,False)

+---------+------+----------+---------------------------------------------------------+
|New_Title|userId|prediction|title                                                    |
+---------+------+----------+---------------------------------------------------------+
|1547.0   |96    |NaN       |Baton Rouge (1988)                                       |
|1597.0   |96    |NaN       |Etz Hadomim Tafus (Under the Domin Tree) (1994)          |
|1556.0   |96    |NaN       |Mirage (1995)                                            |
|1646.0   |96    |NaN       |Shadows (Cienie) (1988)                                  |
|1601.0   |96    |NaN       |Normal Life (1996)                                       |
|1632.0   |96    |NaN       |Death in Brunswick (1991)                                |
|1652.0   |96    |NaN       |Big One, The (1997)                                      |
|1658.0   |96    |NaN       |� k�ldum klaka (Cold Fever) (1994)                       |
|1606.0   |96    |NaN       |Killer: A Journal of Murder (1995)                       |
|1570.0   |96    |NaN       |Police Story 4: Project S (Chao ji ji hua) (1993)        |
|1586.0   |96    |NaN       |Nothing Personal (1995)                                  |
|1536.0   |96    |NaN       |Mille bolle blu (1993)                                   |
|1623.0   |96    |NaN       |Century (1993)                                           |
|1611.0   |96    |NaN       |Getting Away With Murder (1996)                          |
|1618.0   |96    |NaN       |Butterfly Kiss (1995)                                    |
|1577.0   |96    |NaN       |Modern Affair, A (1995)                                  |
|1616.0   |96    |NaN       |Other Voices, Other Rooms (1997)                         |
|1534.0   |96    |NaN       |I Don't Want to Talk About It (De eso no se habla) (1993)|
|1540.0   |96    |NaN       |Window to Paris (1994)                                   |
|1522.0   |96    |NaN       |Spirits of the Dead (Tre passi nel delirio) (1968)       |
|1346.0   |96    |9.69666   |8 Heads in a Duffel Bag (1997)                           |
|1188.0   |96    |8.464907  |Grace of My Heart (1996)                                 |
|1301.0   |96    |8.186031  |Panther (1995)                                           |
|826.0    |96    |7.5327663 |Vanya on 42nd Street (1994)                              |
|804.0    |96    |7.235327  |Beautiful Thing (1996)                                   |
|1343.0   |96    |7.1318555 |So Dear to My Heart (1949)                               |
|837.0    |96    |7.0773735 |Love! Valour! Compassion! (1997)                         |
|986.0    |96    |7.0262904 |Balto (1995)                                             |
|869.0    |96    |6.985313  |Burnt By the Sun (1994)                                  |
|1154.0   |96    |6.9561777 |unknown                                                  |
|680.0    |96    |6.833312  |Freeway (1996)                                           |
|696.0    |96    |6.8063664 |Priest (1994)                                            |
|504.0    |96    |6.79223   |Deconstructing Harry (1997)                              |
|1088.0   |96    |6.723361  |Dear God (1996)                                          |
|1271.0   |96    |6.685209  |Whole Wide World, The (1996)                             |
|1521.0   |96    |6.6642365 |Little City (1998)                                       |
|1250.0   |96    |6.628944  |Purple Noon (1960)                                       |
|1225.0   |96    |6.6174607 |Paradise Road (1997)                                     |
|1204.0   |96    |6.5894537 |A Chef in Love (1996)                                    |
|1417.0   |96    |6.5758963 |Frisk (1995)                                             |
|172.0    |96    |6.507082  |Everyone Says I Love You (1996)                          |
|888.0    |96    |6.4924355 |Live Nude Girls (1995)                                   |
|1316.0   |96    |6.397137  |Boys Life (1995)                                         |
|1397.0   |96    |6.38214   |Head Above Water (1996)                                  |
|1499.0   |96    |6.358963  |Everest (1998)                                           |
|552.0    |96    |6.3475866 |Postman, The (1997)                                      |
|898.0    |96    |6.3454957 |Unstrung Heroes (1995)                                   |
|1071.0   |96    |6.331934  |Stalingrad (1993)                                        |
|963.0    |96    |6.316641  |Picnic (1955)                                            |
|1123.0   |96    |6.3122506 |Picture Bride (1995)                                     |
|1358.0   |96    |6.2922974 |Angel Baby (1995)                                        |
|870.0    |96    |6.234918  |Microcosmos: Le peuple de l'herbe (1996)                 |
|539.0    |96    |6.2321725 |Soul Food (1997)                                         |
|848.0    |96    |6.143847  |Ninotchka (1939)                                         |
|960.0    |96    |6.1156764 |Beyond Rangoon (1995)                                    |
|1018.0   |96    |6.111468  |Bye Bye, Love (1995)                                     |
|1151.0   |96    |6.0948563 |Month by the Lake, A (1995)                              |
|1433.0   |96    |6.0510097 |Boys, Les (1997)                                         |
|1434.0   |96    |6.050393  |Joy Luck Club, The (1993)                                |
|164.0    |96    |6.049418  |Big Night (1996)                                         |
|400.0    |96    |6.0449743 |Three Colors: Red (1994)                                 |
|756.0    |96    |6.011264  |Orlando (1993)                                           |
|1023.0   |96    |5.9597282 |Gay Divorcee, The (1934)                                 |
|1470.0   |96    |5.9464436 |Some Mother's Son (1996)                                 |
|1296.0   |96    |5.942107  |Stonewall (1995)                                         |
|604.0    |96    |5.94125   |Menace II Society (1993)                                 |
|482.0    |96    |5.9256296 |Wallace & Gromit: The Best of Aardman Animation (1996)   |
|1282.0   |96    |5.914728  |Nina Takes a Lover (1994)                                |
|1127.0   |96    |5.9118295 |Wonderful, Horrible Life of Leni Riefenstahl, The (1993) |
|1099.0   |96    |5.897098  |Unzipped (1995)                                          |
|927.0    |96    |5.877729  |Goofy Movie, A (1995)                                    |
|1475.0   |96    |5.862785  |American Dream (1990)                                    |
|1199.0   |96    |5.8602505 |Hear My Song (1991)                                      |
|777.0    |96    |5.8533754 |Night Falls on Manhattan (1997)                          |
|1092.0   |96    |5.8391953 |Davy Crockett, King of the Wild Frontier (1955)          |
|1194.0   |96    |5.828532  |Bhaji on the Beach (1993)                                |
|981.0    |96    |5.817236  |Big Blue, The (Grand bleu, Le) (1988)                    |
|1468.0   |96    |5.795143  |Anna (1996)                                              |
|291.0    |96    |5.794125  |Being There (1979)                                       |
|1161.0   |96    |5.7930994 |True Crime (1995)                                        |
|1598.0   |96    |5.7623434 |Spanish Prisoner, The (1997)                             |
|1501.0   |96    |5.7623434 |Butcher Boy, The (1998)                                  |
|1642.0   |96    |5.7623434 |Brothers in Trouble (1995)                               |
|1210.0   |96    |5.7556586 |Faster Pussycat! Kill! Kill! (1965)                      |
|1138.0   |96    |5.7418313 |Warriors of Virtue (1997)                                |
|1239.0   |96    |5.736245  |Swept from the Sea (1997)                                |
|115.0    |96    |5.722391  |Boot, Das (1981)                                         |
|811.0    |96    |5.7099166 |Barbarella (1968)                                        |
|446.0    |96    |5.682933  |Hoodlum (1997)                                           |
|1284.0   |96    |5.6734853 |N�nette et Boni (1996)                                   |
|562.0    |96    |5.672632  |Wings of Desire (1987)                                   |
|1098.0   |96    |5.655449  |Wild Things (1998)                                       |
|1059.0   |96    |5.6547627 |Safe (1995)                                              |
|490.0    |96    |5.6467247 |Cyrano de Bergerac (1990)                                |
|1233.0   |96    |5.638416  |Man of No Importance, A (1994)                           |
|1109.0   |96    |5.636623  |American Buffalo (1996)                                  |
|1265.0   |96    |5.6212435 |World of Apu, The (Apur Sansar) (1959)                   |
|797.0    |96    |5.613907  |FairyTale: A True Story (1997)                           |
|1410.0   |96    |5.606052  |C�r�monie, La (1995)                                     |
|462.0    |96    |5.6005483 |Ran (1985)                                               |
+---------+------+----------+---------------------------------------------------------+
only showing top 100 rows

### Thats it guys
### A simple collaborative filtering based recommender system in PySpark using the ALS method to recommend movies to the users

### Bye